## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.rsuser
*.sln.docstates

## NuGet
**/packages/*
*.nupkg
**/[Pp]ackages/*
*.nuget.props
*.nuget.targets

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## IDE
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

## OS
.DS_Store
Thumbs.db
